/*.btn-group {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    width : 100%;*/
/*    color: red;*/
/*}*/

/*.page-footer font-small cyan darken-3{*/
/*    float: none;*/
/*    width : 100%;*/
/*}*/

#results{
    float: none;
    /*color: red;*/
    /*display: none;*/
    width: 100%;
}
#footerWith {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}